//- form.pug
extends layout/layout.pug
block content
  div(style='background-color: white; width: 40%; margin: 0 auto; display: flex; flex-direction: column; align-items: center;')
    h1(style='color: white; background-color: black; padding: 10px 20px') Nuevo producto
    div(style='width: 80%; display: flex; flex-direction:column; ')
      form(action='/api/productos' method='POST')
        div(style='display: flex; align-items:center; justify-content:center; margin-bottom: 18px;')
          label(style='flex: 1') Title:
          input(style='flex: 4' type='text' name='title')
        div(style='display: flex; align-items:center; justify-content:center; margin-bottom: 18px;')
          label(style='flex: 1') Price:
          input(style='flex: 4' type='number' name='price')
        div(style='display: flex; align-items:center; justify-content:center; margin-bottom: 10px;')
          label(style='flex: 1') Thumbnail:
          input(style='flex: 4' type='text' name='thumbnail')
        div(style='display: flex; align-items:center; justify-content:space-around; padding-top:20px; padding-bottom: 30px')
          input(style='font-size: 14px; padding: 10px 40px; color: white; background-color:black; border: 1px solid black; border-radius: 4;' type='submit' value='CREAR')
          a(style='font-size: 14px; margin:0; text-decoration: none; padding: 10px 40px; color: white; background-color:black; border: 1px solid black; border-radius: 4;' href='/api/productos') VER PRODUCTOS
